<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppLinkURLScheme</key>
	<string>https://ivanartastra.github.io/ivanart-jarvis-ios</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>IvanArtJarvis</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ClientToken</key>
	<string>AR|1261497052067859|02adee6bcb50f0e9f0468b6708550e7d</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MetaAppID</key>
	<string>1261497052067859</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Для подключения к Meta Ray-Ban Smart Glasses</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Для связи с Ray-Ban через Bluetooth</string>
	<key>NSCameraUsageDescription</key>
	<string>Jarvis делает фото по голосовой команде для анализа через AI-ассистент</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Jarvis слушает твои голосовые команды для управления через Ray-Ban очки</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Для распознавания голосовых команд Jarvis</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
		<string>audio</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
